#canvas
{
    width: 100%;
    height: 100% !important;
    z-index: -1;
    position: fixed;
    background-color: #5555ff;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

body>*:not(canvas)
{
    position: fixed;
    z-index: 2;
    left: 10px;
}

html
{
    height: 100%;
}

#gridLines
{
    width: 300px;
}

input#gridLines
{
    appearance: none;
    background: white;
    width: 100%;
    height: 16px;
    border-radius: 8px;
    outline: none;
}

input#gridLines::-webkit-slider-thumb
{
    -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: red;
  margin-top: 0px;
}

#window
{
    padding: 1%;
    min-width: 200px;
    max-height: 25px;
    overflow: hidden;
    left: 10px;
    top: 1%;
    background-color: #dddddd;
    transition: max-height 0.3s;
    border-radius: 3px;
}

#window:hover
{
    max-height: 98%;
    /* overflow: auto; */
}

#window>*
{
    margin-top: 10px;
}

.matrix
{
    margin: 10px 0;
}

.matrix table
{
    display: inline;
    margin-top: 10px;
}

.matrix input
{
    border: none;
    outline: none;
    text-align: center;
    border-radius: 0;
    width: 50px;
    height: 50px;
}

input[type=checkbox]
{
    width: 30px;
    height: 20px;
}

.vector input
{
    width: 50px;
    outline: none;
    border: none;
    border-radius: 3px;
}

#matrices>*:first-child
{
    display: none;
}

#matrices>*:nth-child(2)
{
    display: none;
}

button
{
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff;
    outline: none;
}

button:hover
{
    background-color: #ddccaa;
}